/* CSS media query dentro de um stylesheet */
@media (min-width: 992px) {

    body {
        max-width: 1920px;
        margin: 0 auto;
    }

    body>main {
        margin: 80px;
    }


    body>main>div#gif>img {
        width: 70%;
    }

    body>main>header>h1#title {
        font-size: 686%;
        margin: 0 0 0 20px;
    }

    body>main>article {
        font-size: 250%;
        margin: 125.6px 0 0 0;
        line-height: 1.2;
    }

    body>main>article>p {
        margin: 0;
        letter-spacing: 4px;
    }
}